<div class="fixed-navigation fixed-ribbon smart-style-2">
	<div id="hb-home-page" data-spy="scroll">
	<div id="mainPage" class="ng-scope">
		<div class="container-fluid">
			<!-- Section: #MENU -->
			<ul class="header-top">
				<li class="login-signup">
					<button class="btn btn-login" data-toggle="modal" data-target=".bs-example-modal-lg">Log in</button>
				</li>
			</ul>
			<!-- Section: #MENU -->
		</div>


		<section class="home-section text-center hb-top-content">
			<div style="margin-top: 4%" class="heading-about marginbot-20">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-heading animated pulse">
								<img src="img/logo-olnotes.png">
								<h1>OlNotes</h1>
								<p>
									"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="margin-bottom: 12%;" class="container">
				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-xlg btn-green" href="javascript:void(0);">Create a note &mdash; it's free</a>
						<span class="search-board clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:22px;"><a href="#" style="font-weight: bold;color:#fff;">Create an account</a></span>
					</div>
				</div>
			</div>
		</section>
		<section class="home-section text-center bg-white" id="chhose-comm">
			<div class="heading-about marginbot-50">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-heading">
								<h2 style="color:#414042;">Who can create OlNote?</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div style="margin: 0 35px;">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="community">
								<div class="inner">
									<a href="javascript:void(0)">
										<div class="avatar"><img src="img/icon-commtype3.png" alt="">
										</div>
										<p class="subtitle">
											Bloggers &amp; News Outlets
										</p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="community">
								<div class="inner">
									<a href="#">
										<div class="avatar"><img src="img/icon-commtype8.png" alt="">
										</div>
										<p class="subtitle">
											Real Estate &amp; Neighborhoods
										</p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="community">
								<div class="inner">
									<a href="#">
										<div class="avatar"><img src="img/icon-commtype1.png" alt="">
										</div>
										<p class="subtitle">
											Government
										</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="community">
								<div class="inner">
									<a href="#">
										<div class="avatar"><img src="img/icon-commtype2.png" alt="">
										</div>
										<p class="subtitle">
											Schools
										</p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="community">
								<div class="inner">
									<a href="#">
										<div class="avatar"><img src="img/icon-commtype6.png" alt="">
										</div>
										<p class="subtitle">
											Universities
										</p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="community">
								<div class="inner">
									<a href="#">
										<div class="avatar"><img src="img/icon-commtype5.png" alt="">
										</div>
										<p class="subtitle">
											Interest Groups
										</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="subtitle2">
							Don't see your community? Don't despair, We've got you covered!
						</p>
						<a class="btn btn-lg btn-white" href="#">CLICK HERE TO LEARN MORE</a>
					</div>
				</div>
			</div>
		</section>

		<section class="home-section text-center text-reverse bg-blue" id="inform">
			<div class="heading-about marginbot-50">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="section-heading">
								<h1>How it works?</h1>
								<p>
									Community leaders can create a board on their own website and instantly empower the members of their community to add value via its own website.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="team">
							<div class="inner">
								<div class="avatar"><img src="img/Homepage-14.png" alt="" class="img-responsive">
								</div>
								<h3>Build Community</h3>
								<p class="subtitle">
									Invite members to an open space to share tips, broadcast events, make announcements or have helpful conversations.
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="team">
							<div class="inner">
								<div class="avatar"><img src="img/Homepage-16.png" alt="" class="img-responsive">
								</div>
								<h3>Maintain Control</h3>
								<p class="subtitle">
									You are always in control. Moderate members' posts and comments. Create custom filters to organize content.
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="team">
							<div class="inner">
								<div class="avatar"><img src="img/Homepage-17.png" alt="" class="img-responsive">
								</div>
								<h3>Enable Classifieds</h3>
								<p class="subtitle">
									If appropriate, allow member and business promotions to get the much needed cash to reinvest in your organization.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- #FOOTER -->
		<footer>
			<div class="bottom-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<p>
								<a class="contact" target="_blank" href="#">About Us</a>
								<span class="bar"> | </span>
								<a class="contact" target="_blank" href="#">Privacy policy</a>
								<span class="bar"> | </span>
								<a class="contact" target="_blank" href="#">Terms of use</a>
								<span class="bar"> | </span>
								<span id="copyrt">Copyright &copy; 2016 OlNotes</span>
							</p>

						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- / #FOOTER -->
	</div>
</div>
<!-- login model -->
<div class="modal fade bs-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document" style="margin-top: 15%;">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="gridSystemModalLabel">Login to OlNotes</h4>
	  </div>
	  <div class="modal-body">
			<form>
			  <div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="text" class="form-control" ng-model="user.email" placeholder="Email">
			  </div>
			  <div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" ng-model="user.password" placeholder="Password">
			  </div>

			  <div class="checkbox">
				<label>
				  <input type="checkbox"> Show Password
				</label>
			  </div>
			  <button type="button" class="btn btn-success" ng-click="submit()">Login</button>
			  <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close">Cancel</button>
			</form>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
