body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif !important;
    color: #666;
    background-color: #fff;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    font-weight: 300;
}
p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}
p.lead {
    font-weight: 600;
}
a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}
.light {
    font-weight: 400;
}
address {
    margin-left: 0;
    padding: 0;
}
hr {
    margin-top: 10px;
}
.marginbot-0 {
    margin-bottom: 0 !important;
}
.marginbot-10 {
    margin-bottom: 10px !important;
}
.marginbot-20 {
    margin-bottom: 20px !important;
}
.marginbot-30 {
    margin-bottom: 30px !important;
}
.marginbot-40 {
    margin-bottom: 40px !important;
}
.marginbot-50 {
    margin-bottom: 50px !important;
}
.home-section {
    padding-top: 70px;
    padding-bottom: 60px;
    display: block;
    position: relative;
}
.section-heading h2 {
    font-size: 40px;
}
.section-heading i {
    margin-bottom: 20px;
}
.bg-white {
    background: #fff;
}
.bg-gray {
    background: #F8F8F8;
    border-top: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
}
.bg-dark {
    background: #575757;
}
.text-light {
    color: #fff;
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'ecoicons';
    src: url("../fonts/ecoicons/ecoicons.eot");
    src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}
.gn-menu-main,
.gn-menu-main ul {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
    background-repeat: repeat-x;
    border-bottom: 1px solid #B6B6B6;
    color: #303030;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    ;
    line-height: 60px;
    z-index: 150;
}
.gn-menu-main ul.company-social {
    border-bottom: none;
    line-height: 59px;
}
.gn-menu-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-size: 13px;
}
.gn-menu-main a {
    display: block;
    height: 100%;
    color: #303030;
    text-decoration: none;
    cursor: pointer;
}
.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
    background: #303030;
    color: white;
}
.gn-menu-main > li {
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #c6d0da;
    text-align: center;
}
.gn-menu-main li.gn-trigger {
    position: relative;
    width: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gn-menu-main > li:last-child {
    float: right;
    border-right: none;
}
.gn-menu-main > li > a {
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.gn-menu-main:after {
    display: table;
    clear: both;
    content: "";
}
.gn-menu-wrapper {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 60px;
    border-top: 1px solid #c6d0da;
    background: #3a3633;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==");
    background: -moz-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(93%, #3a3633), color-stop(100%, #2a2725));
    background: -webkit-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -o-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -ms-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
    min-height: 100%;
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    transform: translateX(-60px);
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
}
.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    width: 370px;
    height: 100%;
}
.gn-menu {
    border-bottom: 1px solid #c6d0da;
    text-align: left;
    font-size: 18px;
}
.gn-menu li:not(:first-child),
.gn-menu li li {
    box-shadow: inset 0 1px #c6d0da
}
.gn-submenu li {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
.gn-submenu li a {
    color: #c1c9d1
}
input.gn-search {
    position: relative;
    z-index: 10;
    padding-left: 60px;
    outline: none;
    border: none;
    background: transparent;
    color: #303030;
    font-weight: 300;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    ;
    cursor: pointer;
}
.gn-search::-webkit-input-placeholder {
    color: #303030
}
.gn-search:-moz-placeholder {
    color: #303030
}
.gn-search::-moz-placeholder {
    color: #303030
}
.gn-search:-ms-input-placeholder {
    color: #303030
}
.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
    color: transparent
}
input.gn-search:focus {
    cursor: text
}
.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
    color: white
}
.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
    color: white
}
.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
    color: white
}
.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
    color: white
}
.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
    color: white
}
.gn-menu-main a.gn-icon-search {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
}
.gn-icon::before {
    display: inline-block;
    width: 60px;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'ecoicons';
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.gn-icon-help::before {
    content: "\e000"
}
.gn-icon-earth::before {
    content: "\e004"
}
.gn-icon-cog::before {
    content: "\e006"
}
.gn-icon-search::before {
    content: "\e005"
}
.gn-icon-download::before {
    content: "\e007"
}
.gn-icon-photoshop::before {
    content: "\e001"
}
.gn-icon-illustrator::before {
    content: "\e002"
}
.gn-icon-archive::before {
    content: "\e00d"
}
.gn-icon-article::before {
    content: "\e003"
}
.gn-icon-pictures::before {
    content: "\e008"
}
.gn-icon-videos::before {
    content: "\e009"
}
.gn-icon span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}
.gn-icon-menu::before {
    margin-left: -15px;
    vertical-align: -2px;
    width: 30px;
    height: 3px;
    background: #505050;
    box-shadow: 0 3px transparent, 0 -6px #505050, 0 -9px white, 0 -12px #505050;
    content: '';
}
.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
    background: #505050;
    box-shadow: 0 3px transparent, 0 -6px #505050, 0 -9px white, 0 -12px #505050;
}
.gn-icon-menu.gn-selected::before {
    background: #505050;
    box-shadow: 0 3px transparent, 0 -6px #505050, 0 -9px white, 0 -12px #505050;
}
.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
.gn-menu-wrapper.gn-open-all {
    width: 340px
}
.gn-menu-wrapper.gn-open-all .gn-submenu li {
    height: 60px
}
@media screen and (max-width: 422px) {
    .gn-menu-wrapper.gn-open-all {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
        width: 100%;
    }
    .gn-menu-wrapper.gn-open-all .gn-scroller {
        width: 130%
    }
}
.intro {
    width: 100%;
    position: relative;
}
#intro {
    background-image: url('../img/img-bg.jpg');
    background-size: cover;
}
.intro .slogan {
    padding: 250px 0 60px;
    text-align: center;
}
.intro .slogan h1 {
    color: #fff;
    line-height: 1.1em;
    margin-bottom: 20px;
    font-size: 40px;
}
.intro .slogan p {
    color: #eee;
    margin-bottom: 50px;
    font-size: 20px;
}
.brand-heading {
    font-size: 40px;
}
.intro-text {
    font-size: 18px;
}
.tp-caption.custom_large_white {
    color: #FFF;
    text-shadow: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
}
.tp-caption a.btn {
    color: #fff;
}
.boxed-grey {
    background: #eee;
    padding: 20px;
}
.bg-gray .boxed-grey {
    background: #fff;
}
.team h5 {
    margin-bottom: 10px;
}
.team p.subtitle {
    margin-bottom: 10px;
}
.avatar {
    margin-bottom: 20px;
}
.team-social {
    margin-left: 0;
    padding-left: 0;
}
.team-social {
    text-align: center;
}
.team-social li {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
}
.team-social a {
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i {
    text-align: center;
    margin: 0;
    padding: 0;
}
.team-social .social-facebook a {
    background: #3873ae;
}
.team-social .social-twitter a {
    background: #62c6f8;
}
.team-social .social-dribble a {
    background: #d74980;
}
.team-social .social-deviantart a {
    background: #8da356;
}
.team-social .social-google a {
    background: #000;
}
.team-social .social-vimeo a {
    background: #51a6d3;
}
.team-social .social-facebook a:hover {
    background: #4893ce;
}
.team-social .social-twitter a:hover {
    background: #82e6ff;
}
.team-social .social-dribble a:hover {
    background: #f769a0;
}
.team-social .social-deviantart a:hover {
    background: #adc376;
}
.team-social .social-google a:hover {
    background: #333;
}
.team-social .social-vimeo a:hover {
    background: #71c6f3;
}
.service-icon {
    margin-bottom: 20px;
}
.gallery-item > div {
    margin-bottom: 30px;
}
form#contact-form .form-group label {
    text-align: left !important;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}
form#contact-form input,
form#contact-form select,
form#contact-form textarea {
    border-radius: 0;
    border: 1px solid #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}
form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
    background-color: #fefefe;
    border: 1px solid #eee;
    border-radius: 0;
}
.widget-contact {
    text-align: left;
    margin-top: 30px;
}
.company-social {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}
.company-social {
    text-align: left;
}
.company-social li {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
}
.company-social a {
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i {
    text-align: center;
    margin: 0;
    padding: 0;
}
.company-social .social-facebook a {
    background: #3873ae;
}
.company-social .social-twitter a {
    background: #62c6f8;
}
.company-social .social-dribble a {
    background: #d74980;
}
.company-social .social-deviantart a {
    background: #8da356;
}
.company-social .social-google a {
    background: #000;
}
.company-social .social-vimeo a {
    background: #51a6d3;
}
.company-social .social-facebook a:hover {
    background: #4893ce;
}
.company-social .social-twitter a:hover {
    background: #82e6ff;
}
.company-social .social-dribble a:hover {
    background: #f769a0;
}
.company-social .social-deviantart a:hover {
    background: #adc376;
}
.company-social .social-google a:hover {
    background: #333;
}
.company-social .social-vimeo a:hover {
    background: #71c6f3;
}
.bottom-content {
    padding: 50px 0;
    color: #333;
    font-weight: 300;
    border: none;
    background: url('../img/back-img1.png') center center, #ECECEC;
    overflow: hidden;
    margin-bottom: -1px;
}
.bottom-content p {
    font-size: 16px;
    line-height: 30px;
}
.bottom-content h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 300;
}
.bottom-content .purchase {
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    padding: 10px 18px;
}
footer {
    background-color: #474544;
    margin-top: 1px;
}
.top-footer {
    padding: 19px 0;
    border-bottom: 1px solid #293136;
}
.footer-content {
    border-top: 1px solid #3a464d;
    padding: 70px 8px 60px 0px;
}
.footer-content a.footer-logo {
    color: #FF5454;
    font-size: 25px;
    text-decoration: none;
    font-weight: 300;
    line-height: 52px;
}
.footer-content a.footer-logo strong {
    color: #d5e9f8;
}
.footer-content a.footer-logo img {
    padding-right: 12px;
}
.footer-content p {
    color: #c2c2c2;
    font-size: 13px;
    line-height: 20px;
    margin: 11px 0 10px 3px;
}
.footer-content a.learn-more {
    color: #FF5454;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-left: 3px;
}
.footer-content h3 {
    font-size: 14px;
    color: #B9B9B9;
    line-height: 46px;
    font-weight: 700;
    padding-left: 2px;
    margin-bottom: 12px;
}
.footer-content .recent-post {
    margin: 0 2px 20px 2px;
    cursor: pointer;
    position: relative;
    min-height: 54px;
}
.recent-post .footer-thumb-img {
    width: 54px;
    height: 54px;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0
}
.recent-post .footer-thumb-img span.footer-overlay-img {
    background: no-repeat;
    display: block;
    width: 54px;
    height: 54px;
    opacity: 0;
}
.recent-post p {
    margin: 0;
    line-height: 18px;
    padding-left: 65px;
}
.recent-post p span.date {
    color: #FF5454;
    font-size: 12px;
    display: block;
}
.recent-post:hover .footer-thumb-img span.footer-overlay-img {
    opacity: 1;
}
.recent-post:hover p {
    color: #feffff;
}
.footer-tags ul {
    padding: 0;
    list-style: none;
}
.footer-tags ul li {
    display: inline-block;
    background-color: #A32323;
    margin-bottom: 4px;
    margin-left: 2px;
}
.footer-tags ul li a {
    color: #E9E3DA;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px 6px 13px;
    display: block;
}
.flicker-widget a {
    width: 80px;
    height: 80px;
    background-color: #DDD;
    display: inline-block;
    margin-right: 2px;
}
.bottom-footer {
    background-color: #292827;
    padding: 0;
}
.bottom-footer p {
    color: #C0C0C0;
    font-size: 13px;
    padding: 10px 0;
}
.footer-nav {
    padding: 10px 0;
}
.bottom-footer ul {
    list-style: none;
}
.bottom-footer ul li {
    display: inline-block;
    margin-left: 3px;
}
.bottom-footer ul li a {
    font-size: 13px;
    color: #C0C0C0;
    text-decoration: none;
    padding-left: 30px;
}
.bottom-footer ul li:first-child a {
    padding-left: 0;
}
.bottom-footer ul li.active a {
    color: #C0C0C0;
    font-weight: bold;
}
.footer-content a.footer-logo img {
    display: inline-block;
}
.btn {
    text-transform: uppercase;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.btn-circle.btn-dark:hover,
.btn-circle.btn-dark:focus {
    outline: 0;
    color: #999;
    background: #fff;
}
.btn-circle.btn-dark:hover i,
.btn-circle.btn-dark:focus i {
    color: #999;
}
.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
#text {
    color: #fff;
    background: #ffcc00;
}
#map {
    height: 500px;
}
.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
    color: #fff;
    background-color: #666;
    border-color: #666;
}
.btn-huge {
    padding: 25px;
    font-size: 26px;
}
.banner-social-buttons {
    margin-top: 0;
}
@media (min-width: 767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .brand-heading {
        font-size: 100px;
    }
    .intro-text {
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    .team.boxed-grey {
        margin-bottom: 30px;
    }
    .boxed-grey {
        margin-bottom: 30px;
    }
    .intro .slogan {
        padding: 100px 0 60px;
    }
}
@media (max-width: 480px) {
    .intro .slogan {
        padding: 170px 0 60px;
    }
}
.the-price {
    background-color: rgba(220, 220, 220, .17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}
.the-price h1 {
    line-height: 1em;
    padding: 0;
    margin: 0;
}
.subscript {
    font-size: 21px;
    color: #999;
}
.ribbon {
    position: absolute;
    right: 9px;
    top: -4px;
}
.pricing-big {
    border-radius: 7px;
    border-color: rgba(153, 153, 153, 0.4) !important;
}
.pricing-big .panel-heading {
    border-radius: 5px 5px 0 0;
    border-color: rgba(153, 153, 153, 0.4) !important;
}
.pricing-big .panel-title {
    text-transform: capitalize;
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin: 0;
    font-weight: bold;
}
.pricing-big .the-price {
    padding: 20px 0;
    background: #333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}
.pricing-big .subscript {
    font-size: 18px;
    color: #999;
    margin-left: 5px;
}
.price-features {
    background: #FAFAFA;
    padding: 20px 15px;
    min-height: 230px;
    font-size: 13.5px;
}
.price-features li + li {
    margin-top: 10px;
}
.pricing-big .panel-footer {
    border-radius: 0 0 5px 5px;
}
.pricing-big .panel-footer .btn {
    padding: 15px 0;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
}
.pricing-big .panel-footer .btn span {
    font-weight: normal;
    font-style: italic;
}
.pricing-big .panel-footer {
    background-color: #F2F2F2 !important;
}
.pricing-big .panel-footer > div {
    padding: 15px 0 10px;
    display: block;
    font-size: 13px;
}
.pricing-big table {
    background: #FAFAFA;
    padding: 20px 15px;
    height: 230px;
    text-align: left;
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.quote {
    color: rgba(0, 0, 0, .1);
    text-align: center;
    margin-bottom: 30px;
}
#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #e84a64;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.img-rounded {
    border-radius: 3px;
}
.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle {
    border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}
.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}
.timeline-centered:after {
    clear: both;
}
.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}
.timeline-centered:after {
    clear: both;
}
.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    left: 50%;
    top: 20px;
    bottom: 20px;
    margin-left: -4px;
}
.timeline-centered .timeline-entry {
    position: relative;
    width: 50%;
    float: right;
    margin-bottom: 70px;
    clear: both;
}
.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry:after {
    clear: both;
}
.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry:after {
    clear: both;
}
.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}
.timeline-centered .timeline-entry.left-aligned {
    float: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -22px;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #00a651;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1.7em;
    margin-left: 70px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}
#scrollUp {
    bottom: 0;
    right: 30px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font: 14px/20px sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    color: #828282;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB), to(#DEDEDE));
    background-image: -webkit-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: -o-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: linear-gradient(to bottom, #EBEBEB, #DEDEDE);
    background-repeat: repeat-x;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}
#scrollUp:hover {
    margin-bottom: 0;
}
