ul li {
    list-style-type: none;
}
.header-top {
    background: none;
}
#hb-home-page {
    background: #3b9ff3 url(../img/bg-home.jpg) no-repeat center center fixed;
    background-size: cover;
}
#hb-home-page h1 {
    font-family: "Oswald" !important;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
}
#hb-home-page h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}
#hb-home-page h3 {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}
p {
    font-size: 20px;
    line-height: 30px;
}
p.subtitle2 {
    font-size: 26px;
    font-family: 'Oswald';
    font-weight: 600;
    color: #414042;
    margin: 0 132px 30px;
}
#hb-home-page .btn {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#hb-home-page a:hover,
a:focus {
    color: inherit;
}
#hb-home-page .gn-menu-main > li > a {
    padding: 0;
}
#hb-home-page .gn-menu-main li.main-logo a img {
    width: 192px;
}
#hb-home-page nav ul.gn-menu > li > a {
    font-size: 18px !important;
}
#hb-home-page nav ul.gn-menu > li > a > i {
    width: 48px;
    text-align: center;
    font-size: 19px;
}
#hb-home-page nav ul.gn-menu > li > a.color-yellow > i,
#hb-home-page nav ul.gn-menu > li > a.color-yellow:hover > i {
    color: #ffbc00 !important;
}
#hb-home-page nav ul.gn-menu > li > a.color-green > i,
#hb-home-page nav ul.gn-menu > li > a.color-green:hover > i {
    color: #6abc20 !important;
}
#hb-home-page nav ul.gn-menu > li > a.color-purple > i,
#hb-home-page nav ul.gn-menu > li > a.color-purple:hover > i {
    color: #6a5385 !important;
}
#hb-home-page nav ul.gn-menu > li > a.color-blue > i,
#hb-home-page nav ul.gn-menu > li > a.color-blue:hover > i {
    color: #1C93FA !important;
}
#hb-home-page nav ul.gn-menu > li > a.color-red > i,
#hb-home-page nav ul.gn-menu > li > a.color-red:hover > i {
    color: #E56143 !important;
}
.gn-menu-main,
.gn-menu-main ul.company-social {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    border-bottom: none;
}
.login-signup {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    border-bottom: none;
    line-height: 59px;
    padding-right: 15px;
    float: right;
    color: #fff;
}
.gn-menu-main ul.login-signup li {
    display: inline-block;
    padding-left: 8px;
}
.gn-menu-main ul.login-signup li .btn {
    font-weight: normal;
    color: #ffffff;
}
.gn-menu-main ul.login-signup li .btn-signup {
    background-color: #3b9ff3;
    border-color: #3292e2;
}
.btn-login {
    background-color: rgba(220, 107, 39, 0.3);
    border-color: #dc6b27;
}
.gn-menu-main {
    position: absolute;
}
.gn-menu-main > li {
    border: none;
}
.gn-icon-menu::before,
.gn-icon-menu.gn-selected:before {
    background: white;
    box-shadow: 0 3px transparent, 0 -6px white, 0 -9px transparent, 0 -12px white;
}
.gn-menu-main a.gn-icon-search {
    top: 12px;
}
.gn-submenu {
    border-bottom: 1px solid #c6d0da;
    text-align: left;
    font-size: 18px;
}
.gn-submenu li:not(:first-child),
.gn-menu li li {
    box-shadow: inset 0 1px #c6d0da
}
.smart-style-2 nav ul.gn-submenu > li > a {
    font-size: 15px !important;
    padding-left: 70px !important;
}
.gn-menu-wrapper.gn-open-all .gn-submenu li {
    height: 100%
}
.bg-white {
    background-color: #FFFFFF;
}
.hb-top-content {
    color: #FFFFFF;
}
.hb-top-content .section-heading {
    width: 64%;
    margin: 0 auto;
}
.hb-top-content h1 {
    font-size: 54px !important;
    line-height: 70px !important;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
    color: #FFFFFF !important;
}
.hb-top-content p {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
    font: 20px 'Oswald';
}
.hb-top-content p a {
    font-weight: bold;
}
.community {
    padding-bottom: 38px;
}
.community .inner {
    padding: 0 42px;
}
.community a {
    border: 1px solid #fff;
    display: block;
    padding: 10px 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.community a:hover {
    background-color: #fff;
    border: 1px solid #28c3ab;
}
.community p.subtitle {
    font-size: 26px;
    font-weight: 600;
    color: #000000;
}
.text-reverse h1,
.text-reverse h2,
.text-reverse h3,
.text-reverse p,
.text-reverse h3 {
    color: #FFFFFF !important;
}
.search-board {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
}
.search-board a {
    font-weight: bold;
}
.bg-pattern {
    background-image: url(../img/back-pattern.jpg);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    border-top: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
}
.bg-blue {
    background: #2d3a4b;
}
.bg-red {
    background: #e4644b;
    border-top: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
}
.boxed-transparent {
    padding: 20px;
}
.img-responsive {
    margin: 0 auto;
    -webkit-filter: contrast(118%);
}
footer {
    margin-top: 0;
    background-color: #414042;
}
.bottom-footer {
    background-color: #414042;
}
.bottom-footer .container {
    width: 100% !important;
}
.bottom-footer p {
    margin: 0;
}
.btn {
    text-transform: none;
    font-weight: bold;
}
.btn-xlg {
    font-size: 20px;
    padding: 9px 76px;
}
.btn-green {
    color: #ffffff;
    background-color: #547e29;
    border: 9px solid rgba(136, 102, 81, 0.95);
    border-radius: 8px !important;
    font: 700 26px 'Oswald' !important;
    text-transform: none !important;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active {
    color: #ffffff;
    background-color: #5ca323;
    border-color: #6dba30;
}
.btn-black {
    color: #ffffff;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active {
    color: #ffffff;
    background-color: #000;
    border-color: #000;
}
.btn-blue {
    color: #ffffff;
    background-color: #3b9ff3;
    border-color: #3292e2;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    color: #ffffff;
    background-color: #3e90d4;
    border-color: #2f7dbe;
}
.btn-white {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #4d4c4e;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
    color: #000000;
    background-color: #CCCCCC;
    border-color: #4d4c4e;
}
@media screen and (max-width: 1200px) {
    .community .inner {
        padding: 0;
    }
}
@media screen and (max-width: 1024px) {} @media screen and (max-width: 768px) {
    .btn-xlg {
        padding: 9px 20px;
    }
    .hb-top-content h1 {
        font-size: 55px !important;
        line-height: 55px !important;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 736px) {
    p.subtitle2 {
        margin: 0 96px 30px;
    }
}
@media screen and (min-width: 770px) {
    .bottom-footer #mixpanel-badge {
        bottom: 6px !important;
    }
}
@media screen and (min-width: 690px) {
    .bottom-footer #mixpanel-badge {
        position: absolute;
        bottom: 4px;
        left: 6px;
    }
}
@media screen and (max-width: 667px) {
    p.subtitle2 {
        margin: 0 45px 30px;
    }
}
@media screen and (max-width: 568px) {
    h1 {
        font-size: 30px;
        line-height: 60px;
    }
    p {
        font-size: 18px;
        line-height: 27px;
    }
    #hb-home-page .gn-menu-main li.main-logo a img {
        width: 140px;
    }
    p.subtitle2 {
        margin: 0 0 30px;
    }
}
@media screen and (max-width: 414px) {
    .hb-top-content .section-heading {
        width: 100%;
    }
    h1 {
        font-size: 30px;
        line-height: 60px;
    }
    p {
        font-size: 18px;
        line-height: 27px;
    }
}
@media screen and (max-width: 384px) {
    h1 {
        font-size: 25px;
        line-height: 50px;
    }
    .btn-xlg {
        font-size: 18px;
    }
    .btn-lg {
        font-size: 15px;
    }
}
@media screen and (max-width: 375px) {
    h1 {
        font-size: 30px;
        line-height: 50px;
    }
    .btn-xlg {
        font-size: 18px;
    }
    .btn-lg {
        font-size: 15px;
    }
}
@media screen and (max-width: 320px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
    .btn-xlg {
        font-size: 15px;
    }
    .btn-lg {
        font-size: 14px;
        padding: 7px 10px;
    }
}