<!DOCTYPE html>
<html ng-app="olnotes">
<head>
    <meta charset="utf-8">
    <!-- <meta name="fragment" content="!"> -->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->
    <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />
    <title> OlNotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- GOOGLE FONT -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'> -->

    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->

</head>
<body class={{moduleclass}}>
<!-- MAIN CONTENT -->
<div ui-view></div>

<!-- bower:js -->
<!-- endbower -->

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
